.DS_Store
public/magento/var/
public/magento/var/cache
public/magento/var/session
.vagrant
.idea
public/html_test.html
public/magento1/
public/magento2/
public/php_test.php
public/benchmark.tmp
public/magemalt_provisioned_version.txt
local-bootstrap.sh
public/m2ee
public/magento-demo
